html, body {
    background-color: #232c33;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.title {
    float:inline-start;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#grid {
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    /*border: 5px solid black;*/
    border-radius: 5px;
    height: auto;
    width: auto;
}


.grid-box {
    width: 15px;
    height: 15px;
    border: solid 1px #449dd1
}

.color {                    /*This is the color change for .grid-box*/
    background-color: white;
    width: 15px;
    height: 15px;
    border: solid 1px #449dd1
}