html, body {
    background-color: #5d7587;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 75px;
    color:aliceblue;
    justify-content: center;
    align-items: center;

}

.title {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.color-selections {
    justify-content: center;
    display: flex;
    margin: 0;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}


#grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 2fr);
    background-color: aliceblue;
    box-shadow:  #09141a 0px 2px 10px;
    border-radius: 5px;
    height: 500px;
    width: 500px;
}


.grid-box {
    width: 31.25px;    
    height: 31.25px;
    /*border: solid 0.1px #5d7587;*/
}

.grid-box:hover {
    background-color: #09141a;
}

.color {                    /*This is the color change for .grid-box*/
    background-color: white;
    width: 16px;
    height: 16px;
    border: solid 1px #449dd1
}
